 <h1>Editing user</h1>



<%= render 'form' %>

	<%= link_to login_path, disable_with: 'processing...', method: :new, class: 'btn-mini btn-info btn' do %>
  <i class="icon-circle-arrow-left icon-white"></i> Back
<% end %> |
<%= link_to new_user_path, class: 'btn-mini btn-info btn' do %>
  <i class="icon-list icon-white"></i> Show
<% end %>