<h2 class = "login">Registration</h2>


<%= render 'form' %>

	<%= link_to login_path, disable_with: 'processing...', method: :new, class: 'btn-mini btn-info btn' do %>
  <i class="icon-circle-arrow-left icon-white"></i> Back
<% end %>