<h1> Welcome to our Web App </h1>


<p>  RIMA   </p>
<%#= render 'layouts/navigation'  render risks matrix  %> 

<div class="hero-unit">

	<h1>Matrix</h1>

	<p>   more stuffs coming soon </p>
	




	<p> 
	<a class="btn btn-primary btn-large">
	Learn more
	</a>
	</p>
</div>


