<%= link_to "Home", 'home', :class => 'brand' %>
<ul class="nav">
  <% if current_user.present? %>
    <li>
    <%= link_to('Logout', logout_path, :method=>'delete') %>
    </li>

    <li>
    <%= link_to('Risks', 'risks') %>
	</li>

     <li>
    <%= link_to('Edit account', 'edit_profile') %>
	</li>
  <% end %>

</ul>