<%= link_to "Home", 'home', :class => 'brand' %>
<ul class="nav">
  <% if current_user.present? %>
    <li>
    <%= link_to('Logout', logout_path, :method=>'delete') %>
    </li>

  <% end %>
  <% if current_user.present? %>
    <li>
    <%= link_to('Edit account', '#') %>

  <% end %>
</ul>